.detalle-container {
  background-color: #fffce8;
  padding: 60px 8%;
}

.detalle-card {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;

  background-color: white;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.detalle-imagen img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.detalle-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detalle-id {
  margin: 0;
  color: #777;
  font-size: 14px;
}

.detalle-info h1 {
  margin: 0;
  color: #b52d61;
  font-size: 38px;
}

.detalle-descripcion {
  margin: 0;
  color: #333;
  font-size: 17px;
  line-height: 1.5;
}

.detalle-color {
  margin-top: 8px;
}

.detalle-color span,
.detalle-precio span {
  display: block;
  color: #777;
  font-size: 14px;
  margin-bottom: 3px;
}

.detalle-color strong {
  color: #333;
  font-size: 17px;
}

.detalle-precio {
  margin-top: 5px;
}

.detalle-precio strong {
  color: #b52d61;
  font-size: 30px;
}

.btn-carrito {
  margin-top: 10px;
  padding: 13px 20px;

  background-color: #b52d61;
  color: #ffff62;

  border: none;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btn-carrito:hover {
  background-color: #96224f;
}

.volver-productos {
  margin-top: 5px;
  color: #b52d61;
  text-decoration: none;
  font-size: 15px;
}

.volver-productos:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .detalle-container {
    padding: 40px 5%;
  }

  .detalle-card {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .detalle-imagen img {
    height: 320px;
  }

  .detalle-info h1 {
    font-size: 32px;
  }
}